.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;

  @include respond(phone) {
    margin: 5rem 0;
  }
}