.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-row-gap: 2rem;

  @include respond(tab-port) {
    grid-column: full-start / full-end;
  }

  & > h3 {
    justify-self: center;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content ;
    align-items: center;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;

    @include respond(tab-port) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @include respond(phone) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }

  &__details {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }


}